/*custom styles css */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}


.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.post-content img {
    margin: 12px 0px 3px 0px;
    width: auto;
    height: auto;
}

.post-content ol li, .post-content ul li {
    margin: 10px 0px;
}

.bs-example{
    margin: 20px;
}

.breadcrumb li {
    color: gray;
}

table {
    background-color: transparent;
}
caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}
th {
    text-align: left;
}
table {
    margin-bottom: 20px;
    border: 1px solid #dedede;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    padding: 15px;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

table tr td img {
    padding-top:15px;
    padding-bottom: 15px;
}
table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    text-transform: uppercase;
    background-color: #444;
    color: white;
    text-align: center;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
table > tbody + tbody {
    b
}
table > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

table col[class*="col-"] {
    position: static;
    display: table-column;
    float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    display: table-cell;
    float: none;
}


table td:first-child {
    width: 150px;
    /*font-weight:bold;*/
}

table.boldFirstColumn td:first-child {
    font-weight: bold;
}

table tr td {
    hyphens: auto;
}


dl dt p {
    margin-left:20px;
}


dt {
    margin-top: 40px;
}

dl dd {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 35px;
}


figcaption {
    padding-bottom: 12px;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 14px;
    color: gray;
    font-style: italic;
}


table.dataTable thead {
    background-color: #444;
}
table td {
    hyphens: auto;
}

.summary {
    padding-left: 10px;
    font-size: 130%;
    color: darkgoldenrod;
    border-left: 2px solid #dedede;
    margin: 20px 0px 20px 0px;
}

.summary::before {
    content: "Summary: ";
    font-weight: bold;
}

h3 {color: #b62273; font-weight:normal; font-size:125%; margin-bottom:15px;}

.alert, .callout {
    overflow: hidden;
}

ol li ol li {list-style-type: lower-alpha;}

li img {clear:both; }

div#toc ul li ul li {
    list-style-type: none;
    margin: 5px 0px 0px 0px;
}

.alert-warning {
    color: #444;
}

div.alert code, h2 code {
    background-color: transparent !important;
}
/* without this, the links in these notes aren't visible.*/
.alert a {
    text-decoration: underline;
}

body {
    font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif;
    font-size:16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
}



.btn-primary {
    color: #fff;
    background-color: orange;
    border-color: #dedede;
}


div.docSample {
    background-color: #e5f6f9;
    padding: 15px;
    border: 1px solid #dedede;
}

div.docSample table tr {
    background-color: white;
}

img a, a {
    cursor: hand;
}

.col-md-9 ul li, .col-md-9 ol li {
    margin-bottom: 20px;
    margin-top: 20px;
}

.col-md-9 .seriesContext ol li {
    margin-bottom: 6px;
    margin-top: 6px;
}

img.left, img.alignleft {float: left; padding-right:20px;}
img.right, img.alignright {float: right; padding-left:20px;}

#sidebarAreaHomePage, #topBannerImageHomepage {
    display: none;
}

.endpoint {
    padding: 15px;
    background-color: #f0f0f0;
    font-family: courier;
    font-size: 110%;
    margin: 20px 0px;
    color: #444;
}

.parameter {
    font-family: courier;
    color: red !important;
}


.highlight .err {
    color: black;
    background-color: transparent;
}

div.section {
    color: orange !important;
    font-size: 32px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 6px;
    text-align: right;
}
h1.chapter {
  color: black;
}
h2 {
  color: #555;
}
h3 {
  color: gray;
}
body {
  padding: 30px;
}
#toc ul li a {
    list-style-type: none !important;
    font-size: 120%;
    font-weight: bold;
}

#toc ul li ul li a{
    font-size: 100%;
    font-weight: normal;
}
