---
layout: post
title: Learn the basics of technical writing (TW Job)
date: 2009-12-18 21:42:52.000000000 -08:00
categories:
- beginners
series: "How to get a job in technical writing"
jtype: notes_job_tech_writing
tags:
- series_get_job_technical_writing
weight: 1.1
---
{% include series/seriesTagGetJobTechnicalWriting.html %}

<p>Before you can create a stunning portfolio or market yourself to companies as a technical writing intern, you need some grounding in the basics.</p>
<p>If you're in a college that offers a degree in technical writing (usually a degree in English with an emphasis in technical writing), by all means do it.</p>
<p>If I were doing it over, I would actually double-major in English and computer science. Some students prefer to get domain knowledge, such as in accounting or engineering, and then supplement that knowledge with writing skills.</p>
<p>Whatever your situation, learn the basics of technical communication. For starters, learn how to write well. Learn grammar. Learn to analyze an audience, create personas, approach documentation from a task-oriented perspective.</p>
<p>Learn to number your steps, keep your topic titles parallel, and be brief and concise. Learn to write useful instructions rather than obvious statements. Learn when to use screenshots and when to omit them. Learn the strengths and weaknesses of different help formats, such as wikis versus quick reference guides versus video tutorials. You can't do anything without first grounding yourself in the fundamentals.</p>
<p>You may not learn all of these concepts in your program. If not, you can supplement your program with some instruction from professionals in the field. The <a href="http://stc.org" target="_blank">Society for Technical Communication</a> (STC) has an excellent <a href="http://stc.org/edu/online-certificate-courses.asp" target="_blank">certification course</a> from well-known professionals. You can also read the <a href="http://www.stc.org/intercom/" target="_blank"><em>Intercom</em></a> and <a href="http://www.stc.org/stcmembers/tech-comm.asp" target="_blank"><em>Technical Communication Journal</em></a>.</p>
<p>If you don't have money to join the STC, connect with someone who is a member and ask to borrow back issues. Read blogs and books published by professionals in the field (here's a <a href="https://idratherbewriting.com/2010/09/10/40-foundational-books-for-technical-writing/" target="_blank">list of foundation books</a>). However you do it, get a solid education. This is critical before you can move forward.</p>

{% include series/seriesTagGetJobTechnicalWriting_next.html %}
