---
layout: post
title: 'STC Presentation this Thursday: "Quick Reference Guides: Short and Sweet Technical
  Documentation"'
date: 2009-02-25 00:09:59.000000000 -08:00
categories:
- technical-writing
keywords:
- Ben Minson
- quick reference
- quick-reference-guides
- stc-intermountain
- Technical Writing
series: "Quick reference guides"
jtype: notes_quick_reference_guides
tags:
- series_quick_reference_guides
weight: 1.2
---
{% include series/seriesTagQuickReferenceGuides.html %}

<p>This Thursday, my colleague <a href="http://gryphonmountain.net" target="_blank">Ben Minson</a> and I are presenting to the <a href="http://www.intermountain-stc.org/meetings.html" target="_blank">Intermountain STC chapter</a> on "Quick Reference Guides: Short and Sweet Technical Documentation."</p>
<p>Here's a description of the presentation: </p>
<blockquote><p>Users often want documentation in a format that will give them the basics and get them on their way as fast as possible. Not all technical communication situations will benefit from quick reference guides, but almost every user rejoices at the site of one-page documentation.</p>
<p>Despite the brevity of quick reference material, the thought process involved in creating, organizing, and laying out the content is time-consuming. This format requires you to right-size content and decide the most important information the user needs to know. Additionally, you must describe with extreme concision and clarity processes that usually require dozens of pages to explain.</p>
<p>Beyond strategies for quick reference material, we will also review several tools, such as Adobe InDesign, that can be used to create quick reference guides. We will present feedback we have received from users and project managers that highlight the benefits of the quick reference format.</p></blockquote>
<p>Sound interesting? Delivering quick reference guides will win you more praise than almost anything else you can do as a technical writer. In our presentation, we'll walk through ten sample quick reference guide templates, pointing out elements of design that make them work (or not work).</p>
<p>Here are the meeting details:</p>
<p><strong>Location:</strong> Downtown Salt Lake City library, Utah<br />
<strong>Time: </strong>7:00 p.m.<br />
<strong>Cost: </strong>Free<br />
<strong>Food served:</strong> Light fruit and cheese, and maybe a brownie</p>
<p>For more details, such as driving directions and the library location, <a href="http://www.intermountain-stc.org/Feb_meeting_2009.pdf" target="_blank">see this PDF flyer</a>.</p>
<p>By the way, if you have a quick reference guide template that you'd like to share, send it to me at <a href="mailto:tomjoht@gmail.com" target="_blank">tomjoht@gmail.com</a>. My colleague and I are also presenting on quick reference guides at the <a href="http://conference.stc.org/" target="_blank">Summit in Atlanta</a>. I'd like to collect as many contrasting quick reference guide layouts as possible.</p>
<h3>Additional Resources</h3>
<p>I've previously written a couple of posts on quick reference guides:</p>
<ul>
<li><a href="https://idratherbewriting.com/2008/12/31/quick-reference-guide-formats-tips-for-finding-attractive-layouts/">Quick Reference Guide Formats — Tips for Finding Attractive Layouts</a></li>
<li><a href="https://idratherbewriting.com/2008/07/06/quick-reference-guides-the-poetry-of-technical-writing/">Quick Reference Guides: The Poetry of Technical Writing</a></li>
</ul>

{% include series/seriesTagQuickReferenceGuides.html %}