_site/
.sass-cache/
.jekyll-metadata
**/.DS_Store
pdf/docapis.pdf
/ebooks/
*.mobi
*.zip
*.pdf
*.epub
ebooks/docapis.mobi
ebooks/docapis.epub
reindex.sh
images
node_modules
**/audio/
**/pdf
**/images/
**/video/
**/*.mp4
**/*.cmproj
**/*.wav
**/*.mp3
**/*.snagproj
**/*.png
**/*.gif
**/*.jpg
**/*.bmp
**/*.svg
**/*.ai
**/*.psd
**/*.ico
**/*.rtf
**/*.docx
**/*.docm
**/*.doc
**/*.swf
**/*.tif
**/*.tiff
**/*.ppt
**/*.pptx
**/*.pot
**/*.xlsx
**/*.exe
**/*.oog
**/*.tar.gz
**/*.tar
**/*.rar
**/*.jar
**/*.war
**/*.idea
.DS_Store
.bundle
.bundle/*
vendor
vendor/*