_site/
.sass-cache/
.jekyll-metadata
**/audio/
**/pdf
**/images/
**/audio/
**/video/
**/*.mp4
**/*.cmproj
**/*.wav
**/*.mp3
**/*.snagproj
**/*.png
**/*.gif
**/*.jpg
**/*.bmp
**/*.svg
**/*.ai
**/*.psd
**/*.ico
**/*.rtf
**/*.docx
**/*.docm
**/*.doc
**/*.swf
**/*.tif
**/*.tiff
**/*.pdf
**/*.ppt
**/*.pptx
**/*.pot
**/*.xlsx
**/*.exe
**/*.oog
**/*.tar.gz
**/*.tar
**/*.rar
**/*.zip
**/*.jar
**/*.war
**/.DS_Store
**/*.idea
.DS_Store
reindex.sh
images
