---
swagger: '2.0'
info:
  description: 'A sample API that uses a Mashape weather API as an example to demonstrate
    features in the swagger-3.0 specification.'
  version: 1.0.0
  title: Weather API from Mashape
  termsOfService: http://swagger.io/terms/
  contact:
    email: tomjoht@gmail.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
host: simple-weather.p.mashape.com
#basePath: "/v2"
# tags:
# - name: pet
#   description: Everything about your Pets
#   externalDocs:
#     description: Find out more
#     url: http://swagger.io
# - name: store
#   description: Access to Petstore orders
# - name: user
#   description: Operations about user
#   externalDocs:
#     description: Find out more about our store
#     url: http://swagger.io
schemes:
- https
paths:
  "/aqi":
    get:
      tags:
      - Air Quality
      summary: Gets the air quality index
      description: 'Air quality is a measure of air pollution. The higher the number, the worse the pollution.'
      operationId: getAqi
      consumes:
      - application/json
      - application/xml
      produces:
      - text
      parameters:
        - name: lat
          in: query
          description: latitude
          required: false
          type: string
        - name: lng
          in: query
          description: longitude
          required: false
          type: string
      responses:
        '200':
          description: aqi response
      security:
        - api_key: []


  "/weather":
    get:
      tags:
      - Weather Forecast
      summary: Gets the weather forecast in abbreviated form
      description: 'retrieves the weather forecast, but without too much detail'
      operationId: getWeather
      consumes:
      - application/json
      - application/xml
      produces:
      - text
      parameters:
        - name: lat
          in: query
          description: latitude
          required: false
          type: string
        - name: lng
          in: query
          description: longitude
          required: false
          type: string
      responses:
        '200':
          description: weather response
      security:
        - api_key: []

  "/weatherdata":
    get:
      tags:
      - Weather Forecast
      summary: Get weather forecast with lots of details
      description: 'Includes full details of the weather forecast, in JSON format'
      operationId: getWeatherData
      consumes:
      - application/json
      - application/xml
      produces:
      - application/json
      parameters:
        - name: lat
          in: query
          description: latitude
          required: false
          type: string
        - name: lng
          in: query
          description: longitude
          required: false
          type: string
      responses:
        '200':
          description: weatherdata response
      security:
        - api_key: []

securityDefinitions:
  api_key:
    type: apiKey
    name: X-Mashape-Key
    in: header

externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
