---
layout: post
title: 'Podcast: How to Create User-Centered Documentation, Interview with Joe Sokohl'
date: 2008-05-30 07:46:07.000000000 -07:00
categories:
- podcasts
keywords:
- Joe Sokohl
- user ethnography
tags:
- series_user_centered_documentation
series: "User-centered documentation"
jtype: notes_user_centered_doc_posts
weight: 1.0
podcast_link: https://www.podtrac.com/pts/redirect.mp3?https://s3.us-west-1.wasabisys.com/idbwmedia.com/podcasts/sokohl.mp3
---
{% include series/seriesTagUserCenteredDocumentation.html %}

<p><a href="http://sokohl.com"><img class="alignright size-full wp-image-1547" title="Joe Sokohl" src="https://s3.us-west-1.wasabisys.com/idbwmedia.com/images/joeatqualinnashville1.jpg" alt="" width="180" height="276" /></a><a href="https://www.podtrac.com/pts/redirect.mp3?https://s3.us-west-1.wasabisys.com/idbwmedia.com/podcasts/sokohl.mp3">Download MP3</a><br />
Duration: 15 min.</p>

{% include audio.html %}

<p>In this podcast, Joe Sokohl explains how to create user-centered documentation by contacting, observing, and interviewing users to gather information about what types of information they use and the help deliverables they actually want.</p>
<p>In his experience, Joe found that almost no one used the user manual, but instead wanted quick information for specific tasks. The users hated stand-up training with PowerPoint slides (what the execs thought users needed), and instead wanted hands-on experience with the real system. </p>
<p>Creating user-centered documention requires technical writers to break the standard (and ridiculous) rule of not contacting the user, to get out of their shells and interact and interview others, and to often challenge standards and assumptions from executives. It may be hard, but doing so is essential, because if you end up creating the wrong deliverables, all your efforts to create help may be irrelevant and useless.</p>
<p>In the podcast, Joe recommends a number of books:</p>
<ul>
<li><a href="http://www.amazon.com/About-Face-Essentials-Interface-Design/dp/1568843224">About Face</a>, by Alan Cooper (cooperdesign.com)</li>
<li><a href="http://www.buy.com/retail/product.asp?sku=30983668&amp;listingid=14419906&amp;dcaid=17902">The Design of Everyday Things</a>, by Don Norman</li>
<li><a href="http://www.amazon.com/Emotional-Design-Love-Everyday-Things/dp/0465051359">Emotional Design</a>, by Don Norman</li>
<li><a href="http://www.amazon.com/exec/obidos/tg/detail/-/1558609237">Observing the User Experience</a>, by Mike Kuniavsky</li>
<li><a href="http://www.communicatingdesign.com/">Communicating Design</a>, by Dan Brown </li>
<li><a href="http://www.eleganthack.com/blueprint/">Blueprints for Information Architecture</a>, christina Wodtke</li>
<li><a href="http://www.oreilly.com/catalog/9780596527341/">Information Architecture for the World Wide Web</a>, Peter Morville and Louis Rosenfeld</li>
</ul>
<p>For more information on Joe Sokohl, <a href="http://www.sokohl.com/">see his blog here</a>. Also, I <a href="https://idratherbewriting.com/2008/05/08/changing-the-rules-of-the-game-for-the-benefit-of-the-user/">blogged about this presentation</a> earlier here.</source></audio></p>

{% include series/seriesTagUserCenteredDocumentation_next.html %}
