---
layout: post
title: "STC Conference: Cindy Skawinski on Activity Diagrams (Uniform Modeling Language
  Artifacts)"
date: 2007-05-19 13:42:33.000000000 -07:00
categories:
- podcasts
tags: []
status: publish
podcast_link: https://www.podtrac.com/pts/redirect.mp3?https://s3.us-west-1.wasabisys.com/idbwmedia.com/podcasts/stcconf/skawinski.mp3
published: true
podcast_length: 5854509
---

{% include toc.html %}

{% include audio.html %}

<p>Cindy explains how technical communicators can draw upon visual process flows called UML artifacts to create their documentation. These process flows, also called activity diagrams, visually represent the use cases for software. Based on uniform modeling language, these artifacts/diagrams can also be deliverables that technical communicators create to expand their role beyond mere writers.</p>

{% include ads.html %}
