---
layout: post
title: "STC Conference: Adrienne Escoe on Recruiting"
date: 2007-05-19 13:39:56.000000000 -07:00
categories:
- podcasts
tags: []
status: publish
podcast_link: https://www.podtrac.com/pts/redirect.mp3?https://s3.us-west-1.wasabisys.com/idbwmedia.com/podcasts/stcconf/escoe.mp3
published: true
podcast_length: 1532373
---

{% include toc.html %}

{% include audio.html %}

<p>Adrienne talks about essential characteristics that recruiters must have to attract writers. Recruiters must have good ethics, energy, listening and communication skills.</p>

{% include ads.html %}
