<p><a href="https://www.stitcher.com/podcast/id-rather-be-writing-technical-writing-podcast"><img src="{{ "https://s3.us-west-1.wasabisys.com/idbwmedia.com/images/subscribe_stitcher.png" |  prepend: site.baseurl }}" alt="Stitcher radio"/></a></p>

<a href="https://mindtouch.com/resources/announcing-2017s-top25-content-experience-influencers-top200-strategists"><img style="margin-top: 20px; max-width:225px; margin-left: auto; margin-right: auto;" src="{{"https://s3.us-west-1.wasabisys.com/idbwmedia.com/images/2017_LavaCon_Top-100_25-Badges_R2_Top_25_Badge.png" | prepend: site.baseurl}}" /></a>
