{% assign collection_name = page.collection %}

{% if collection_name %}

<ol class="breadcrumb">
  <li><a class="noExtIcon" href="{{site.url}}">I'd Rather Be Writing</a></li>
  {% if site[collection_name] %}
    <li><a class="noExtIcon" href="{{site.url}}/{{collection_name}}">{{ collection_name | capitalize }}</a></li>
  {% endif %}

  {% for i in (1..3) %}
    {% assign path_var = "path" | append: i %}
    {% if page[path_var] %}
      <li>
        {% for pg in site[collection_name] %}
          {% if pg.permalink == page[path_var] %}
            {% if page.url == pg[path_var] %}{{ pg.title }}{% else %}
              <a href="{{ pg.url }}">{{ pg.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </li>
    {% endif %}
  {% endfor %}
</ol>

{% endif %}
