{% assign sidebar = site.data.sidebar_docapis.entries %}

<ul id="mysidebar" class="nav">
        {% for entry in sidebar %}
        {% for subcategory in entry.subcategories %}
        {% if subcategory.output contains "web" %}
        <li class="subcatTitle">
            <a href="##">{{ subcategory.title }}</a>
            <ul>
                {% for item in subcategory.items %}
                {% if item.output contains "web" %}
                {% if item.external_url %}
                <li><a href="{{item.external_url}}" target="_blank">{{subcategory.title}}</a></li>
                {% elsif page.url == item.url %}
                <li class="active"><a href="#{{item.url | remove: "/"}}">{{item.weight}} {{item.title}}</a></li>
                {% else %}
                <li><a href="#{{item.url | remove: "/"}}">{{item.weight}} {{item.title}}</a></li>
                {% endif %}
                {% for thirdlevel in item.thirdlevel %}
                {% if thirdlevel.output contains "web" %}
                <li class="thirdlevel">
                    <a href="##">{{ thirdlevel.title }}</a>
                    <ul>
                        {% for deeplevel in thirdlevel.thirdlevelitems %}
                        {% if deeplevel.output contains "web" %}
                        {% if deeplevel.external_url %}
                        <li><a href="#{{deeplevel.external_url}}" target="_blank">{{deeplevel.title}}</a></li>
                        {% elsif page.url == deeplevel.url %}
                        <li class="active"><a href="#{{deeplevel.url | replace: "/", "#"}}">{{deeplevel.title}}</a></li>
                        {% else %}
                        <li><a href="#{{deeplevel.url | replace: "/", "#"}}">{{deeplevel.title}}</a></li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </li>
</ul>
