<h3>Email Newsletter</h3>
 <div style="margin-top:20px">

<button type="button" class="btn btn-primary mynewsletter" data-toggle="modal" data-target="#newsletterModal">
  <i class="fa fa-envelope"></i> Subscribe to my newsletter
</button>

<!-- Modal -->
<div class="modal fade custom-modal" id="newsletterModal" tabindex="-1" role="dialog" aria-labelledby="newsletterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newsletterModalLabel">Newsletter signup</h5>
      </div>
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {% include mailjet_embedded.html %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>