{% unless page.author %}
<h2>About Tom Johnson</h2>
<img src="{{ "/images/tom-johnson-photo.jpg" | prepend: site.baseurl }}" alt="Tom Johnson" style="float: left; margin-top:15px; margin-right: 15px;" />
<p>I'm a technical writer based in the California San Francisco Bay area. Topics I write about on this blog include technical writing, authoring and publishing tools, API documentation, tech comm trends, visual communication, technical writing career advice, information architecture and findability, developer documentation, and more. If you're a professional or aspiring technical writer, <b>be sure to subscribe to email updates using the form above</b>. You can learn more about me <a href="http://idratherbewriting.com/aboutme/">here</a>.
</p>
{% endunless %}