{% unless page.author %}
<h2>About Me</h2>
<p>
    Hi, I'm Tom Johnson. Thanks for reading my blog. I'm a technical writer based in the San Francisco Bay area of California (but I've lived all over the world). Topics I write about on this blog include technical writing, authoring and publishing tools, API documentation, tech comm trends, visual communication, technical writing career advice, information architecture and findability, developer documentation, and more. If you're a professional or aspiring technical writer, <b>be sure to subscribe to email updates using the form above</b>. You can learn more about me <a href="http://idratherbewriting.com/aboutme/">here</a>. You can also ask me questions <a href="http://idratherbewriting.com/contact/">here</a>.
</p>
{% endunless %}