{% unless page.author %}
<h2>About Tom Johnson</h2>
<p>
    I'm a technical writer in the Silicon Valley area of California. I primarily write this blog for technical writers. In addition to covering technical writing topics, issues, and trends, I tend to focus on API documentation, publishing tools, trends, visual communication, information architecture, code samples, developer environments, and more. Be sure to subscribe to email updates using the form above. You can learn more about me <a href="http://idratherbewriting.com/aboutme">here.</a>
</p>