{% if page.layout == "newsletter" %}<div class="ad_slot"><a href="https://idbwrtng.com/redoclynewsletter"><img style="max-width:541px" src="{{site.media}}/redocly_newsletter_banner2.png" alt="Redocly" /></a></div>{% endif %}

{% if page.layout == "newsletter" %}<div class="ad_slot">
    <a href="https://idbwrtng.com/acrolinx_newsletter"><img style="max-width:542px" src="{{site.media}}/acrolinx2_newsletter_banner.png" alt="Acrolinx" /></a></div>{% endif %}

{% if page.layout == "newsletter" %}<div class="ad_slot"><a href="https://idbwrtng.com/stoplight-banner-newsletter"><img style="max-width:540px" src="{{site.media}}/stoplight_newsletter_banner.png" alt="Stoplight" /></a></div>{% endif %}

{% if page.layout == "newsletter" %}<div class="ad_slot"><a href="https://idbwrtng.com/devdocs_newsletter"><img style="max-width:540px" src="{{site.media}}/devdocs_newsletter_banner.jpg" alt="DevDocs" /></a></div>{% endif %}