<script async src="{{ "/js/jquery.navgoco.min.js" | prepend:site.baseurl }}"></script>

<ul id="mytechsidebar" class="nav">
    {% if page.type or page.series %}
    <script>
        $(document).ready(function() {
            // Initialize navgoco with default options
            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: {{site.sidebar_accordion}},
            openClass: 'active', // open
                    save: false, // leave false or nav higlighting doesn't work right
                    cookie: {
                name: 'navgoco',
                        expires: false,
                        path: '/'
            },
            slide: {
                duration: 400,
                        easing: 'swing'
            }
        });
        });
    </script>

    {% if page.type == "notes_docapis" %}
    {% assign sidebarTitle = "Documenting REST APIs" %}
    {% assign sidebar = site.data.sidebar_docapis.entries %}

    {% elsif page.type == "notes_ucd" %}
    {% assign sidebarTitle = "User-Centered Documentation" %}
    {% assign sidebar = site.data.sidebar_user_centered_documentation.entries %}

    {% elsif page.type == "visualcommunication" %}
    {% assign sidebarTitle = "Visual communication" %}
    {% assign sidebar = site.data.sidebar_visualcommunication.entries %}

    {% elsif page.type == "notes_java" %}
    {% assign sidebarTitle = "My Java notes" %}
    {% assign sidebar = site.data.sidebar_java.entries %}

    {% elsif page.type == "notes_javascript" %}
    {% assign sidebarTitle = "JavaScript notes" %}
    {% assign sidebar = site.data.sidebar_javascript.entries %}

    {% elsif page.type == "notes_dita" %}
    {% assign sidebarTitle = "My DITA notes" %}
    {% assign sidebar = site.data.sidebar_dita.entries %}

    {% elsif page.type == "notes_apis" %}
    {% assign sidebarTitle = "My API notes" %}
    {% assign sidebar = site.data.sidebar_apis.entries %}

    {% elsif page.series == "testing_documentation" %}
    {% assign sidebarTitle = "Testing documentation" %}
    {% assign sidebar = site.data.sidebar_testing_documentation.entries %}


    {% endif %}

    <h3>{{sidebarTitle}}</h3>
    <ul id="mysidebar" class="nav">
        {% for entry in sidebar %}
        {% for subcategory in entry.subcategories %}
        {% if subcategory.output contains "web" %}
        <li class="subcatTitle">
            <a href="#">{{ subcategory.title }}</a>
            <ul>
                {% for item in subcategory.items %}
                {% if item.output contains "web" %}
                {% if item.external_url %}
                <li><a href="{{item.external_url}}" target="_blank">{{subcategory.title}}</a></li>
                {% elsif page.url == item.url %}
                <li class="active"><a href="{{item.url | prepend: site.baseurl}}">{{item.weight}} {{item.title}}</a></li>
                {% else %}
                <li><a href="{{item.url | prepend: site.baseurl}}">{{item.weight}} {{item.title}}</a></li>
                {% endif %}
                {% for thirdlevel in item.thirdlevel %}
                {% if thirdlevel.output contains "web" %}
                <li class="thirdlevel">
                    <a href="#">{{ thirdlevel.title }}</a>
                    <ul>
                        {% for deeplevel in thirdlevel.thirdlevelitems %}
                        {% if deeplevel.output contains "web" %}
                        {% if deeplevel.external_url %}
                        <li><a href="{{deeplevel.external_url}}" target="_blank">{{deeplevel.title}}</a></li>
                        {% elsif page.url == deeplevel.url %}
                        <li class="active"><a href="{{deeplevel.url | prepend: site.baseurl}}">{{deeplevel.title}}</a></li>
                        {% else %}
                        <li><a href="{{deeplevel.url | prepend: site.baseurl}}">{{deeplevel.title}}</a></li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
            {% endfor %}
            <!-- if you aren't using the accordion, uncomment this block:
               <p class="external">
                   <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
               </p>
               -->
        </li>
    </ul>
    {% endif %}
