<div class="podcastButtons">
<div class="podcastcol1">

<a target="_blank" class="noCrossRef" href="https://www.youtube.com/channel/UC6vWcdrVtrCneWjHIoy_W8A"><img src="{{site.media}}/watchonyoutube.png" /></a>

<a target="_blank" class="noCrossRef" href="https://open.spotify.com/show/4HeOZfPGMMfViOhVS40QBD"><img src="{{site.media}}/listen-on-spotify.png" /></a>

<a target="_blank" class="noCrossRef" href="https://itunes.apple.com/us/podcast/id-rather-be-writing-podcast/id277365275"><img src="{{site.media}}/available-on-itunes-button.png" /></a>

</div>

<div class="podcastcol2">

<a target="_blank" class="noCrossRef" href="https://pca.st/qoZt"><img src="{{site.media}}/pocketcasts_large_dark@2x.png" /></a>

<a target="_blank" class="noCrossRef" href="https://music.amazon.com/podcasts/c67f92c7-fa2d-4d30-bb17-a4bb34f96539/i'd-rather-be-writing-podcast"><img src="{{site.media}}/listenonamazon.png" /></a>

<a target="_blank" class="noCrossRef" href="https://overcast.fm/itunes277365275/id-rather-be-writing"><img src="{{site.media}}/overcast-listen.jpg" /></a>

</div>

<div class="podcastcol3">

<a target="_blank" class="noCrossRef" href="https://tunein.com/podcasts/Technology-Podcasts/Id-Rather-Be-Writing-p1175738/"><img src="{{site.media}}/tunein-listen2.png"/></a>

<a target="_blank" class="noCrossRef" href="https://idratherbewriting.com/itunes.rss"><img src="{{site.media}}/listen-in-rss.svg" /></a>

</div>

</div>
<div style="clear: both;"></div>