{% if include.options == "truncated" %}
<div class="podcastButtonsEmbedPost">
<div class="podcastButtons">
<a target="_blank" class="noCrossRef" href="https://itunes.apple.com/us/podcast/id-rather-be-writing-podcast/id277365275"><img src="{{site.media}}/available-on-itunes-button.png" /></a>

<a target="_blank" class="noCrossRef" href="https://www.youtube.com/@idratherbewriting"><img src="{{site.media}}/watchonyoutubeblack.png" /></a>

<a target="_blank" class="noCrossRef" href="https://open.spotify.com/show/4HeOZfPGMMfViOhVS40QBD"><img src="{{site.media}}/listen-on-spotify.png" /></a>
</div>
</div>
{% endif %}

{% if include.options == "all" %}
<div class="podcastButtons">

<div class="podcastcol1">
<a target="_blank" class="noCrossRef" href="https://itunes.apple.com/us/podcast/id-rather-be-writing-podcast/id277365275"><img src="{{site.media}}/apple_podcasts.png" /></a>

<a target="_blank" class="noCrossRef" href="https://www.youtube.com/@idratherbewriting"><img src="{{site.media}}/watchonyoutubeblack.png" /></a>

<a target="_blank" class="noCrossRef" href="https://music.youtube.com/channel/UC6vWcdrVtrCneWjHIoy_W8A"><img src="{{site.media}}/listenonyoutubemusic.png"/></a>

<a target="_blank" class="noCrossRef" href="https://pca.st/qoZt"><img src="{{site.media}}/pocketcasts.png" /></a>

</div>

<div class="podcastcol2">

<a target="_blank" class="noCrossRef" href="https://music.amazon.com/podcasts/c67f92c7-fa2d-4d30-bb17-a4bb34f96539/i'd-rather-be-writing-podcast"><img src="{{site.media}}/amazon_music.png" /></a>



<a target="_blank" class="noCrossRef" href="https://idratherbewriting.com/itunes.rss"><img src="{{site.media}}/listen-in-rss.svg" /></a>
</div>

<div class="podcastcol3">
<a target="_blank" class="noCrossRef" href="https://open.spotify.com/show/4HeOZfPGMMfViOhVS40QBD"><img src="{{site.media}}/spotify.png" /></a>

<a target="_blank" class="noCrossRef" href="https://tunein.com/podcasts/Technology-Podcasts/Id-Rather-Be-Writing-p1175738/"><img src="{{site.media}}/tunein-listen2.png"/></a>

<a target="_blank" class="noCrossRef" href="https://overcast.fm/itunes277365275/id-rather-be-writing"><img src="{{site.media}}/overcast.png" /></a>
</div>

{% comment %}
<div class="podcastcol4">
<a target="_blank" class="noCrossRef" href="https://podcastaddict.com/podcast/i-d-rather-be-writing-podcast-feed/423459"><img src="{{site.media}}/podcast_addict.png" /></a>
{% endcomment %}

</div>

</div>
<div style="clear: both;"></div>

{% endif %}