<style>
.popularSeries li a {
  font-size: 9.5pt;
}

.popularSeries ul {
  list-style-type: none;
  margin-left: -30px;
}

.popularSeries ul li {
  padding-bottom: 10px
}
.popularSeries h3 {
  padding-top:50px;
}
</style>
<div class="popularSeries">
<h3>Popular series</h3>

<ul>
<li><a href="/trends/trends-to-follow-or-forget-intro.html"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;Trends to follow or forget</a></li>

<li><a href="/blog/sitting-standing-walking-introduction/"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;Sitting, standing, and walking</a></li>

<li><a href="/blog/awakening-moment-to-how-smartphones-fragment-our-attention/"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;Journey away from smartphones</a></li>

<li><a href="/web-and-workplace-influence/part1-introduction-to-influencers.html"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;A hypothesis about influence on the web and the workplace</a></li>

<li><a href="/simplifying-complexity/index.html"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;Simplifying complexity</a></li>

<li><a href="/blog/reflecting-seven-years-later-about-layoff-intro/"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;Reflecting seven years later about why we were laid off</a></li>

<li><a href="/2017/12/28/value-of-tech-comm-in-company-part1/"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;Value arguments for docs and tech comm</a></li>

<li><a href="/2015/02/10/sustaining-and-disruptive-innovations/"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;Innovation in tech comm</a></li>

<li><a href="/2009/09/22/how-to-get-a-job-in-technical-writing-a-7-step-guide-for-students/"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;Get a job in technical writing</a></li>
</ul>
</div>
