<!-- social_media_icons.html -->
<div class="socialMediaButtons">
    <a href="http://idratherbewriting.com/feed">
        <div class="srssfeed"></div>
    </a>
    <a href="http://twitter.com/tomjohnson">
        <div class="stwitter"></div>
    </a>
    <a href="http://www.stitcher.com/podcast/id-rather-be-writing-technical-writing-podcast">
        <div class="ssticher"></div>
    </a>
    <a href="https://itunes.apple.com/us/podcast/id-rather-be-writing-podcast/id277365275">
        <div class="situnes"></div>
    </a>
    <a href="https://www.facebook.com/idratherbewriting/">
        <div class="sfacebook"></div>
    </a>
    <a href="https://www.linkedin.com/in/tomjohnson1492">
        <div class="slinkedin"></div>
    </a>

    <a href="https://github.com/tomjohnson1492/">
        <div class="sgithub"></div>
    </a>
</div>
<a href="http://www.stitcher.com/podcast/id-rather-be-writing-technical-writing-podcast"<img src="{{ "/images/subscribe_stitcher.png" |prepend: site.baseurl }}" alt="Stitcher radio"/></a>

<!-- end social_media_icons.html -->