<h3 class="sidebar" style="padding-top:15px;">Text links</h3>
<ul>
    <li><a href="http://www.wordpresswriter.com/">Wordpresswriter.com</a></li>
    <li><a href="http://www.campusgrumbleconnect.com/">College writing tips</a></li>
    <li><a href="http://one.dealspotr.com/onecom">Onecom</a></li>
    <li><a href="http://hostpapa.dealspotr.com/hostpapa">Host Papa</a></li>
    <li><a href="http://justhost.dealspotr.com/justhost">Just Host</a></li>
    <li><a href="http://www.communications-major.com/">Communications-Major.com</a></li>
</ul>