<div class="form-group irbw">
    <form style="border-radius: 4px; text-align: left; background-color: transparent; border:1px solid #ccc;padding:8px;text-align:left; padding-bottom: 15px;" action="https://tinyletter.com/tomjoht" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/tomjoht', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        {% comment %}<i class="fa fa-envelope-o fa-2x" aria-hidden="true" style="float:left;"></i>{% endcomment %}
        <div class="newsletterSubscribeHeading">Stay updated</div>
        <div class="mailingListSubtext">Keep current with the latest trends in technical communication by subscribing to the I'd Rather Be Writing newsletter. <i><b>5,800+ subscribers.</b> (See <a href="https://tinyletter.com/tomjoht/archive">email archive here</a>.)</i></div>
        <p style="max-width: 85%"><input type="text" style="width:100%; display: block; margin-left: 5px;" placeholder=" email address" name="email" id="tlemail" /></p>
        <div class="submitButton"><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe to newsletter" style="text-align: center; margin-left: 5px;" class="btn btn-warning"></input></div>
    </form>
</div> <!-- end form-group-->
