<div class="dropdown" style="max-width: 200px;">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Book
        Chapters
        <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li class="{% if page.url contains "/youngadultnovel_chapter1" %}active{% endif %}"><a 
            href="{{ "/youngadultnovel_chapter1" | prepend: site.baseurl }}">Chapter 1</a></li>
        <li class="{% if page.url contains "youngadultnovel_chapter2" %}active{% endif %}"><a href="{{ "/youngadultnovel_chapter2" | prepend: site.baseurl }}">Chapter 2</a></li>
        <li class="{% if page.url contains "youngadultnovel_chapter3" %}active{% endif %}"><a href="{{ "/youngadultnovel_chapter3" | prepend: site.baseurl }}">Chapter 3</a></li>
        <li class="{% if page.url contains "youngadultnovel_chapter4" %}active{% endif %}"><a href="{{ "/youngadultnovel_chapter4" | prepend: site.baseurl }}">Chapter 4</a></li>
        <li class="{% if page.url contains "youngadultnovel_chapter5" %}active{% endif %}"><a href="{{ "/youngadultnovel_chapter5" | prepend: site.baseurl }}">Chapter 5</a></li>
        <li class="{% if page.url contains "youngadultnovel_chapter6" %}active{% endif %}"><a href="{{ "/youngadultnovel_chapter6" | prepend: site.baseurl }}">Chapter 6</a></li>
        <li class="{% if page.url contains "youngadultnovel_chapter7" %}active{% endif %}"><a href="{{ "/youngadultnovel_chapter7" | prepend: site.baseurl }}">Chapter 7</a></li>
        <li class="{% if page.url contains "youngadultnovel_chapter8" %}active{% endif %}"><a href="{{ "/youngadultnovel_chapter8" | prepend: site.baseurl }}">Chapter 8</a></li>
        <li class="{% if page.url contains "youngadultnovel_chapter9" %}active{% endif %}"><a href="{{ "/youngadultnovel_chapter9" | prepend: site.baseurl }}">Chapter 9</a></li>
        <li class="{% if page.url contains "youngadultnovel_chapter10" %}active{% endif %}"><a href="{{ "/youngadultnovel_chapter10" | prepend: site.baseurl }}">Chapter 10</a></li>
        <li class="{% if page.url contains "youngadultnovel_chapter11" %}active{% endif %}"><a href="{{ "/youngadultnovel_chapter11" | prepend: site.baseurl }}">Chapter 11</a></li>
        <li class="{% if page.url contains "youngadultnovel_chapter12" %}active{% endif %}"><a href="{{ "/youngadultnovel_chapter12" | prepend: site.baseurl }}">Chapter 12</a></li>
        <li class="{% if page.url contains "youngadultnovel_chapter13" %}active{% endif %}"><a href="{{ "/youngadultnovel_chapter13" | prepend: site.baseurl }}">Chapter 13</a></li>
        <li class="{% if page.url contains "youngadultnovel_chapter14" %}active{% endif %}"><a href="{{ "/youngadultnovel_chapter14" | prepend: site.baseurl }}">Chapter 14</a></li>
        <li class="{% if page.url contains "youngadultnovel_chapter15" %}active{% endif %}"><a href="{{ "/youngadultnovel_chapter15" | prepend: site.baseurl }}">Chapter 15</a></li>
        <li class="{% if page.url contains "youngadultnovel_chapter16" %}active{% endif %}"><a href="{{ "/youngadultnovel_chapter16" | prepend: site.baseurl }}">Chapter 16</a></li>
        <li class="{% if page.url contains "youngadultnovel_chapter17" %}active{% endif %}"><a href="{{ "/youngadultnovel_chapter17" | prepend: site.baseurl }}">Chapter 17</a></li>
        <li class="{% if page.url contains "youngadultnovel_chapter18" %}active{% endif %}"><a href="{{ "/youngadultnovel_chapter18" | prepend: site.baseurl }}">Chapter 18</a></li>
        <li class="{% if page.url contains "youngadultnovel_chapter19" %}active{% endif %}"><a href="{{ "/youngadultnovel_chapter19" | prepend: site.baseurl }}">Chapter 19</a></li>
        <li class="{% if page.url contains "youngadultnovel_chapter20" %}active{% endif %}"><a href="{{ "/youngadultnovel_chapter20" | prepend: site.baseurl }}">Chapter 20</a></li>
        <li class="{% if page.url contains "youngadultnovel_chapter21" %}active{% endif %}"><a href="{{ "/youngadultnovel_chapter21" | prepend: site.baseurl }}">Chapter 21</a></li>
        <li class="{% if page.url contains "youngadultnovel_chapter22" %}active{% endif %}"><a
            href="{{ "/youngadultnovel_chapter22" | prepend: site.baseurl }}">Chapter 22</a></li>
    </ul>
</div>


