<div id="zipsearch_container">
    <a href="https://www.ziprecruiter.com/jobs" id="jobs_widget_link"><span>Job Search by</span> <span id="zr_logo_container"><img id="zr_logo" src="https://www.ziprecruiter.com/img/logos/logo-sm-black-304px.png" alt="ZipRecruiter" width="120" /></span></a>
</div>
<script type="text/javascript"     src="https://www.ziprecruiter.com/jobs-widget/pro/v1/sio4ooghahsh4himai7aengon7iey9ee"></script>
<script>
    var options = {
        jobs_per_page  : 10,
        container      : "zipsearch_container",
        alerts_api_key : 'eingu7ing9meigeshei9eim7neew7eeg',
        search : "technical writer"
    };
    zipsearch.init(options);
</script>    