  .custom-modal .modal-content {
    border: none;
    padding: 0;
  }
  .custom-modal .modal-header,
  .custom-modal .modal-footer {
    display: none;
  }
  .custom-modal .modal-body {
    position: relative;
  }
  .custom-modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
  }

.btn-primary {
    color: #fff;
    background-color: orange;
    border-color: #dedede
}

  .btn-primary.mynewsletter:hover,
  .btn-primary.mynewsletter:focus,
  .btn-primary.mynewsletter:active {
    background-color: #f8b12e;
    border-color: #c79310;
    outline: none;
    box-shadow: none;
  }

  .mynewsletter::after {
    content: 'Subscribe to my newsletter';
    margin-left: 8px; 
  }
  

@media only screen and (max-width: 990px) {
  .mynewsletter::after {
    content: 'Subscribe me';
    margin-left: 8px;
  }
}



