---
layout: post
title: 'New series: User-centered documentation'
date: 2015-04-23 22:40:47.000000000 -07:00
categories:
- user-centered-documentation
tags:
- series_user_centered_documentation
series: "User-centered documentation"
jtype: notes_user_centered_doc_posts
weight: 1.2
---
{% include series/seriesTagUserCenteredDocumentation.html %}

<p>I'm starting a new series on my blog about user-centered documentation. If you're new to my blog, a series is a collection of posts (usually about 10) focused on the same topic. The series format gives me a chance to explore a topic in depth without publishing a monolithic post all at once.</p>
<h2>Origins of user-centered documentation</h2>
<p>User-centered documentation stems from user-centered design. With user-centered design, designers usually study their users in depth as they design products. Designers may do any of the following to get a better understanding of users:</p>
<ul>
<li>Observe users in their own environment</li>
<li>Do task analysis to define the steps users take </li>
<li>Storyboard user workflows and goals</li>
<li>Do A/B testing with prototypes</li>
<li>Create personas that represent typical users</li>
<li>Gather feedback in usability labs, and more</li>
</ul>
<p>The goals of user-centered design is to create a product that users love.</p>
<h2>How user-centered documentation differs</h2>
<p>With documentation, you could do all of the same techniques as with user-centered design. However, usually technical writers don't do this kind of in-depth user analysis for at least two reasons:</p>
<ul>
<li><strong>As a technical writer, you're not designing a user interface.</strong> Theoretically, the UI or other product has already been designed around specific user goals and workflows. The technical writer's job is to document how these user goals are accomplished in the product. As such, beyond simply understanding the user goals, you don't need to recreate all the usability work that already went into the product's design.</li>
<li><strong>Technical writers aren't given this much time or user access to do all of this research</strong>. </li>
</ul>
<p>I'm not saying it wouldn't be a good idea to immerse yourself in your users' environment, draw up personas based on salient characteristics, interview users about their goals and workflows, and observe them while they perform these tasks. In fact, if you do this, I'm sure your help would be really awesome.</p>
<p>But when these opportunities aren't available or feasible of your project, you can still create user-centered documentation by identifying common user behavior patterns and optimizing your help for those patterns.</p>
<h2>Optimizing for user patterns</h2>
<p>I've had the opportunity to observe users interacting with my help content in usability labs, and it's an eye-opening experience. If you have a usability team, you should definitely make friends with the researchers and squeeze in some documentation-related usability tasks.</p>
<p>Here are a few posts detailing notes from those usability observations, as well as other posts from watching users:</p>
<ul>
<li><a href="https://idratherbewriting.com/2011/07/22/a-few-notes-from-usability-testing-video-tutorials-get-watched-text-gets-skipped/">A Few Notes from Usability Testing: Video Tutorials Get Watched, Text Gets Skipped</a></li>
<li><a href="https://idratherbewriting.com/2007/08/01/best-tech-writing-tip-ever-watch-a-user-try-to-follow-your-instructions/">Best Tech Writing Tip Ever: Watch a User Try to Follow Your Instructions</a></li>
<li><a href="https://idratherbewriting.com/2009/04/28/documentation-usability-a-few-things-ive-learned-from-watching-users/">Documentation Usability: A Few Things I've Learned from Watching Users</a></li>
<li><a href="https://idratherbewriting.com/2009/03/06/notes-watching-senior-users-at-the-computer/">Notes Watching Senior Users at the Computer</a></li>
<li><a href="https://idratherbewriting.com/2009/03/02/emotional-states-of-computer-users-in-times-of-frustration/">Emotional States of Computer Users in Times of Frustration</a></li>
</ul>
<p>When you observe users, you notice some common patterns. If you design your help with those user patterns in mind, your documentation becomes more user-centered.</p>
<h2>12 patterns of user behavior with help material</h2>
<p>In looking over common patterns with users, as well as looking through various books on usability, I've decided to focus on 12 user patterns. These patterns aren't in any particular order, but I believe they capture the heart of user behavior when it comes to the way people interact with documentation:</p>
<ul>
<li>Users are in a state of frustration/hurry.</li>
<li>
<p>Users gravitate toward visuals.</p>
</li>
<li>
<p>Users learn by doing.</p>
</li>
<li>
<p>Users read with an end goal in mind.</p>
</li>
<li>
<p>Users don't read in a sequential order.</p>
</li>
<li>
<p>Users don't want to leave their current context to look in the help.</p>
</li>
<li>
<p>Users scan and jump around.</p>
</li>
<li>
<p>Users have different technical abilities.</p>
</li>
<li>
<p>Users want simple instructions.</p>
</li>
<li>
<p>Each user might have a different way of organizing the same content.</p>
</li>
<li>
<p>Users start out in the application before moving to the help.</p>
</li>
<li>
<p>Users often search for answers with the “wrong” terminology.</p>
</li>
</ul>
<p>Note that I'm not necessarily addressing physical products. I'm mostly talking about software documentation, since I've always worked with software.</p>
<h2>Designing information to fit the 12 patterns</h2>
<p>Based on these 12 patterns, we can design our documentation so that it optimally addresses these patterns. I'm not going to list ways to address the patterns in this overview. Instead, with each post, I'll list several strategies for taking the patterns into consideration.</p>
<h2>Test your content with users</h2>
<p>After optimizing your help with these user patterns in mind, the next step is to test your content with users. You don't have to do extensive testing, but you should do some kind of tests that involve users (even colleagues) using your documentation to see if they have a “delightful and pleasing” experience. Not testing help content is somewhat akin to not testing code.</p>
<h2>Feedback welcome</h2>
<p>During this series, I readily welcome any feedback. Do you think I'm missing any key patterns here?</p>

{% include series/seriesTagUserCenteredDocumentation_next.html %}