---
layout: post
title: 'New Series: Organizing Content [Organizing Content 1]'
date: 2010-05-17 07:50:18.000000000 -07:00
categories:
- findability
- technical-writing
keywords:
- organization
- Technical Writing
tags:
- series_organizing_content
series: "Findability / organizing content"
jtype: notes_findability_organizing_content
weight: 1.0
---
{% include series/seriesTagOrganizingContent.html %}

<p>I'm starting a new series on organizing content. I'm not sure how many parts there will be in this series. Writing essays in a serial format is an experiment I'm exploring. Basically this approach to writing follows the agile model. I write a bit, get some feedback, write some more, get feedback, and keep going. The feedback along the way shapes the direction I'm heading. Also, with each serial post, I hope to take the issue a little deeper.</p>

{% include series/seriesTagOrganizingContent_next.html %}
