---
layout: post
title: Topic-Based, Hierarchical Navigation [Organizing Content 5]
date: 2010-05-19 08:28:29.000000000 -07:00
categories:
- findability
- technical-writing
keywords:
- content models
- hierarchy
- logic
- navigation
- organization
- table of contents
- Technical Writing
tags:
- series_organizing_content
series: "Findability / organizing content"
jtype: notes_findability_organizing_content
weight: 1.5
---
{% include series/seriesTagOrganizingContent.html %}

<p>I mentioned that topic-based, hierarchical navigation, which is the standard for 95% of the help files I see, is becoming a tired, less-than-useful navigation system. We rely on this system too much as technical writers, and it's not that helpful to users. Here are a few examples to demonstrate this.</p>
<p>I read an intriguing article today called <a href="http://finance.yahoo.com/career-work/article/109521/5-high-paying-low-stress-jobs?mod=career-worklife_balance">5 High Paying, Low Stress Jobs</a> on Yahoo Finance. It lists technical writing as the fifth least stressful, high-paying job. I wanted to share the article, so I added it to the Technical Communication Library (<a href="http://tc.eserver.org/">TC.Eserver.org</a>).</p>
<p><em>Without using search</em>, go to <a href="http://tc.eserver.org/">Eserver TC Library</a> and browse to the article using the topic-based navigation system. Can you find it? </p>
<p>Now move on to a more difficult challenge. Go to the <a href="http://dir.yahoo.com/">Yahoo Directory</a> and browse to the Yahoo Finance section (where the article was published). Can you find the site and article?</p>
<p>Let's try more examples. Suppose you're learning WordPress, and you want to know what a "widget" is. Using the topic-based navigation (not the search) on the <a href="http://codex.wordpress.org">WordPress Codex</a>, can you find the topic that explains widgets?</p>
<p>Now go to the <a href="http://webhelp.madcapsoftware.com/flare6/">online help in Flare 6</a> and, using the topic-based navigation, find where it explains how to create image maps.</p>
<p>Let's say you want to add a caption to a youtube video. Browse the topic-based navigation in <a href="http://help.youtube.com/support/youtube/">Youtube's help</a> and try to navigate to the topic that explains captions. Bonus points if you find how to create captions in other languages. (Again, don't use search -- we're evaluating the usefulness of topic-based navigation systems.)</p>
<p>Now go to <a href="http://www.google.com/support/chrome/?hl=en">Chrome's help</a> and navigate to the topic that explains how to maximize or minimize text and images within the browser.</p>
<p>If you have <a href="http://snagit.com">Snagit</a>, open their help and try to navigate to the topic that explains how to hide your mouse before taking a screen capture.</p>
<p>Try navigating through <a href="http://en.flossmanuals.net/audacity/">Audacity's help on the Floss Manuals site</a> and find how to export your audio file as an MP3 file.</p>
<p>Go to Hulu.com and browse <a href="http://www.hulu.com/tv">their TV topics navigation</a> to find the TV show <em>Kings</em>. Can you find it (again, without using search or the other, non-topic-based navigation features)?</p>
<p>In any of these examples, did you enjoy trying to guess the technical writer's logic of organization as you navigated the folders? Sure the logic usually makes sense to the technical writer, because he or she wrestled with the topics and grouped them, probably at great pains, into folders that seemed to make sense.</p>
<p>And perhaps the folders even make sense on a content level as well, that is, the organization is centered on the actual characteristics of the content, not some invention in the writer's mind.</p>
<p>But even so, most likely this natural order isn't readily apparent to the new user, who is coming to the material for the first time, without any background or grounding in the same concepts and assumptions and perspectives as the one who organized the content.</p>
<p>As a final blow to topic-based navigation, go to <a href="http://www.stc.org">STC.org</a> and find either the bylaws for the association or the latest minutes from the board. Could you find them? Several people told me they're readily available on the site. But which bucket do you look under? Publications? Membership? Education? Couldn't the bylaws or minutes fall under any of these containers? It depends what you think the bylaws and minutes contain. It depends how you interpret their purpose and function.</p>
<p>Just because topic-based navigation is often frustrating, as I hope I demonstrated in the examples above, it doesn't mean we should abandon this system of organization entirely. From a help-authoring perspective, you usually have to group your topics into some containers simply to work with the topics.</p>
<p>But whatever containers we ultimately choose, in the end, if these containers do not exactly match the organizing logic in the user's mind, the user will take one glance at the help, maybe expand a few folders to peer inside, and then give up. This is why topic-based navigation shouldn't be the main system of navigation for help content.</p>

{% include series/seriesTagOrganizingContent_next.html %}