---
layout: post
title: 'What I''m presenting on at the STC Summit in Dallas, #stc10'
date: 2010-05-01 00:15:37.000000000 -07:00
categories:
- video
- technical-writing
keywords:
- dallas
- STC Summit
- Technical Writing
tags:
- series_dallas_videocasts
series: "Dallas STC Summit videocasts"
jtype: notes_dallas_stc_summit
weight: 1.0
---
{% include series/seriesTagDallasVideocasts.html %}
<p>If you're going to the <a href="http://conference.stc.org">STC Summit in Dallas</a> this coming week, look for me and say hello. I'm giving a WordPress workshop on Sunday morning from 8:30 am to noon. The workshop is called <a href="http://www.softconference.com/stc/sessionDetail.asp?SID=184802">Designing and Developing Blogs with WordPress</a>. I'm quite excited about it because we'll be covering WordPress 3.0, which will be released sometime in May. <a href="http://2010dev.wordpress.com/">WordPress 3.0</a> does some really cool things, such as allow you to create child blogs, and allow you to easily mix and match pages, categories, posts, tags, and external links in the navigation menu. The new default theme, Twenty Ten, is both stylish and functional. It leaves Kubrick in the dust by a long shot.</p>
<p>I'll also be presenting a session on Monday called <a href="http://www.softconference.com/stc/sessionDetail.asp?SID=184797">Developing a Personal Voice in Audio</a>. If you're a frequent reader of my blog, you probably saw <a href="https://idratherbewriting.com/series/voiceover-techniques/">previous posts on voiceover</a>. I'm also eager about this presentation. I have a lot of sound clips and techniques to explore. I'm still convinced that audiovisual formats are where technical writers can get the most leverage with user education.</p>
<p>I do plan to interview a few people for podcasts. And I'm bringing my pocket camcorder. We'll see how that all works out. I'll be traveling with two of my colleagues, <a href="http://gryphonmountain.net">Ben Minson</a> and <a href="http://blog.paulpehrson.com">Paul Pehrson</a>. I have to admit, as this is the third conference I've attended this month, I'm not looking forward to the time away from home. But I know that time at conferences passes quickly. Before I know it I'll be on the return flight back to Utah.</p>
<p>If you want to follow the buzz of tweets with the STC Summit, search for #stc10 at <a href="http://search.twitter.com">http://search.twitter.com</a>. There are quite a few tweets right now, and even though the venue won't have free wifi, many people have smart phones anyway. I think Twitter actually works best at conferences, so perhaps I'll be tweeting more than usual.</p>

{% include series/seriesTagDallasVideocasts_next.html %}