<!DOCTYPE html>
<html lang="en">
<html>
<head>

    {% include head.html %}


</head>

<body>

{% include topnav.html %}

<!-- Page Content -->
<div class="container">
    <div class="col-lg-12">&nbsp;</div>


    {% include sidebar.html %}

    <!-- Content Column -->
    <div class="col-md-9">

        {{content}}
        <div id="sidebarAreaHomePage"><!-- appears for mobile view only-->
            <ul id="mytechsidebar" class="nav">
                {% include social_media_icons.html %}
                {% include notestoc.html %}
                {% include sidebar_ads.html %}
                {% include tinyletter.html %}
                {% comment %}{% include text_ads.html %}{% endcomment %}
                {% include recent_comments.html %}
            </ul>
        </div>

    </div>
    <!-- /.row -->

    <hr>

</div>
<!-- /.container -->

</div>
</body>
{% include google_analytics.html %}

</html>

