<!DOCTYPE html>
<html lang="en">
<html>
  <head>
 {% include head_print.html %}

<link rel="stylesheet" href="{{ "/css/customstyles.css" | prepend:site.baseurl }}"  type='text/css'>

    <link rel="stylesheet" href="{{ "/css/printstyles.css" | prepend:site.baseurl }}"  type='text/css'>

  </head>

<body class="print">

    <!-- Page Content -->
    <div class="container">
            <!-- Content Column -->
            <div class="col-md-9">

                {{content}}
            </div>

        <hr>

    </div>    <!-- /.container -->

</body>

</html>

