<html>
<head>
  <meta charset="utf-8" />
  <meta name="description" content="Documenting REST APIs">
  <meta name="author" content="Tom Johnson, I'd Rather Be Writing">
  <meta name="dc.language" CONTENT="US">
  <meta name="dc.title" CONTENT="Documenting REST APIs: A guide for technical writers">
  <meta name="dc.keywords" CONTENT="REST APIs, documentation, technical writing, API documentation">
  <meta name="dc.subject" CONTENT="Documenting REST APIs">
  <meta name="dc.description" CONTENT="A guide for technical writers on how to document REST APIs.">
<title>Documenting REST APIs</title>
    <link rel="stylesheet" type="text/css" href="css/syntax.css"/>
    <link rel="stylesheet" type="text/css" href="css/kindle.css"/>
</head>
<body>

{{ content }}

</body>
</html>
