---
layout: default
---
<div id="topBannerImageHomepage">{% include topComic.html %}</div>
<div class="post-header">
   <h1 class="post-title-main">{{ page.title }}</h1>

   {% if page.description %}<div class="summary">{{page.description}}</div> {% endif %}

   {% include toc.html %}

    <div class="post-content">

        {{content}}

{% comment %}
        <div style="max-width:300px">

            {% include tinyletter.html %}
        </div>


        {% include social_sharing_buttons.html %}
{% endcomment %}
        <hr/>

    {% include single_post_comics.html %}

{% include commento.html %}

</div>


   <!-- Footer -->
      {% include footer.html %}
