---
layout: default
---

<div class="post-header">
    <h1 class="post-title-main">{{ page.title }}</h1>
    {% include toc.html %}

    <div class="post-content">

        {% if page.summary %}
        {% comment %} <div class="summary"></div> {% endcomment %}{{page.summary}}
        {% endif %}
{% comment %} {% include publishingapidocs.html %} {% endcomment %}

        {{content}}

        {% comment %} {% include publishingapidocs_next.html %}{% endcomment %}

        {% if page.type == "homepage" %}{% include single_post_ads.html %}{% endif %}
        {% include disqus.html %}

    </div>


    <!-- Footer -->
    {% include footer.html %}