---
layout: default
---

<div class="post-header">
    <h1 class="post-title-main">{{page.weight}} {{ page.title }}</h1>
    {% include toc.html %}

    <div class="post-content">
        {% if page.summary %}
        <div class="summary"></div> {{page.summary}}
        {% endif %}
       {% comment %}{% include restapicourse.html %} {% endcomment %}

        {{content}}

        <div style="max-width:400px">
            {% include tinyletter.html %}
        </div>


        {% include restapicourse_next.html %}
{% include social_sharing_buttons.html %}

{% comment %} {% include ziprecruiter_widget.html %}{% endcomment %}
{% include single_post_ads.html %}
{% comment %} {% include googleads.html %}{% endcomment %}

        {% include disqus.html %}

    </div>


    <!-- Footer -->
    {% include footer.html %}