---
layout: default
comments: true
---

<h1>{{ page.title }}</h1>
<p class="page-meta">
{{ page.date | date: "%b %-d, %Y" }} &#8226;
{% if page.categories %}
{% for cat in page.categories %}
<a href="{{ "/category-" | prepend: site.baseurl | append: {{cat}}">{{cat}}</a>{% unless forloop.last %}, {% endunless%}
{% endfor %}
{% endif %}

{% if page.summary %}<div class="summary">{{page.summary}}</div> {% endif %}

{% include toc.html %}

{{ content }}

<div class="well well-sm">
	<h3 class="relatedPosts">Related Posts</h3>
	<ul>
  {% for post in site.related_posts limit:3 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
	</div>

{% include disqus.html %}





