---
layout: default
comments: true
---

<h1>{{ page.title }}</h1>
<p class="page-meta">
{{ page.date | date: "%b %-d, %Y" }} &#8226;
{% if page.categories %}
{% for cat in page.categories %}
<a href="{{ "/category-" | prepend: site.baseurl | append: {{cat}}">{{cat}}</a>{% unless forloop.last %}, {% endunless%}
{% endfor %}
{% endif %}

<div class="summary">{{page.summary}}</div>


{% include toc.html %}


{{ content }}

	<h3>Related Posts</h3>
	<ul>
  {% for post in site.related_posts limit:3 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <time>{{ post.date | date: "%B %-d, %Y" }}</time>
    </li>
  {% endfor %}
</ul>

{% include disqus.html %}


<div class="well well-sm">

    {% if page.next %}
  <a href="{{ page.next.url }}">
    {{ page.next.title }}
  </a>
{% endif %}
 

