---
layout: default
comments: true
---
<div id="topBannerImageHomepage">{% include topBannerAd.html %}</div>
{% comment %}
{{site.data.alerts.announcement}} We need your help to establish a <a href="
http://area51.stackexchange.com/proposals/101439/documentation" target="_blank">Documentation site on Stack Overflow</a>. To support the effort, up-vote some of the questions and pose a few example questions of your own. {{site.data.alerts.end}}
{% endcomment %}
<h1>{{ page.title }}</h1>
<p class="page-meta">
    {{ page.date | date: "%b %-d, %Y" }} &#8226;
{% if page.categories %}
{% for cat in page.categories %}
<a href="{{ "/category-" | prepend: site.baseurl | append: cat }}">{{cat}}</a>{% unless forloop.last %}, {% endunless%}
{% endfor %}
{% endif %}

{% if page.summary %}<div class="summary">{{page.summary}}</div> {% endif %}

{% include toc.html %}

{{ content }}

{% include social_sharing_buttons.html %}

<p>
    <a href='http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Ffeeds.feedburner.com%2FTomJohnson'  target='blank'><img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-rectangle-flat-big_2x.png' alt='follow us in feedly' width='131' height='56'></a></p>
<hr/>
<div style="max-width:400px">
    {% include tinyletter.html %}
</div>

{% comment %}{% include ziprecruiter_widget.html %}{% endcomment %}

{% unless page.bio == false %}
{% include mybio.html %}
{% endunless %}

{% comment %} {% include ziprecruiter_widget.html %}{% endcomment %}
{% include single_post_ads.html %}
{% comment %} {% include googleads.html %}{% endcomment %}

{% include disqus.html %}





